ML NodeRed Configuration.json
[{"id":"71fcd6dd.a90f48","type":"tab","label":"Smartbridge ML NR Config","disabled":false,"info":""},{"id":"cc61554b.c517a8","type":"function","z":"71fcd6dd.a90f48","name":"PreToken","func":"global.set(\"country\",msg.payload.country)\nglobal.set(\"year\",msg.payload.year)\nglobal.set(\"status_\",msg.payload.status_)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hepatitisb\",msg.payload.hepatitisb)\nglobal.set(\"measles\",msg.payload.measles)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ufd\",msg.payload.ufd)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"diphtheria\",msg.payload.diphtheria)\nglobal.set(\"ha\",msg.payload.ha)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"population\",msg.payload.population)\nglobal.set(\"thin_1\",msg.payload.thin_1)\nglobal.set(\"thin_5\",msg.payload.thin_5)\nglobal.set(\"income\",msg.payload.income)\nglobal.set(\"schooling\",msg.payload.schooling)\n\nvar apikey=\"OecGTAx66O9EkvyoAYFZ_2HONa1SinQtAeZbcPhAu8Li\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":340,"wires":[["6dd423d0.4a045c"]]},{"id":"6dd423d0.4a045c","type":"http request","z":"71fcd6dd.a90f48","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":340,"wires":[["8275e69.fc36a18","f62739ca.982eb8"]]},{"id":"64c0a38b.864aec","type":"inject","z":"71fcd6dd.a90f48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["cc61554b.c517a8"]]},{"id":"5865cca3.8a2b14","type":"debug","z":"71fcd6dd.a90f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":120,"wires":[]},{"id":"8275e69.fc36a18","type":"function","z":"71fcd6dd.a90f48","name":"Pre Prediction","func":"var country = global.get('country')\nvar year = global.get('year')\nvar status_ = global.get('status_')\nvar am = global.get('am')\nvar id = global.get('id')\nvar alcohol = global.get('alcohol')\nvar pe = global.get('pe')\nvar hepatitisb = global.get('hepatitisb')\nvar measles = global.get('measles')\nvar bmi = global.get('bmi')\nvar ufd = global.get('ufd')\nvar polio = global.get('polio')\nvar te = global.get('te')\nvar diphtheria = global.get('diphtheria')\nvar ha = global.get('ha')\nvar gdp = global.get('gdp')\nvar population = global.get('population')\nvar thin_1 = global.get('thin_1')\nvar thin_5 = global.get('thin_5')\nvar income = global.get('income')\nvar schooling = global.get('schooling')\n\ncountry_val = {\n    'Afghanistan': 1, 'Albania': 2, 'Algeria': 3, 'Angola': 4, 'Antigua and Barbuda': 5, 'Argentina': 6, 'Armenia': 7, 'Australia': 8, 'Austria': 9, 'Azerbaijan': 10, 'Bahamas': 11, 'Bahrain': 12, 'Bangladesh': 13, 'Barbados': 14, 'Belarus': 15, 'Belgium': 16, 'Belize': 17, 'Benin': 18, 'Bhutan': 19, 'Bolivia (Plurinational State of)': 20, 'Bosnia and Herzegovina': 21, 'Botswana': 22, 'Brazil': 23, 'Brunei Darussalam': 24, 'Bulgaria': 25, 'Burkina Faso': 26, 'Burundi': 27, \"Côte d'Ivoire\": 28, 'Cabo Verde': 29, 'Cambodia': 30, 'Cameroon': 31, 'Canada': 32, 'Central African Republic': 33, 'Chad': 34, 'Chile': 35, 'China': 36, 'Colombia': 37, 'Comoros': 38, 'Congo': 39, 'Cook Islands': 40, 'Costa Rica': 41, 'Croatia': 42, 'Cuba': 43, 'Cyprus': 44, 'Czechia': 45, \"Democratic People's Republic of Korea\": 46, 'Democratic Republic of the Congo': 47, 'Denmark': 48, 'Djibouti': 49, 'Dominica': 50, 'Dominican Republic': 51, 'Ecuador': 52, 'Egypt': 53, 'El Salvador': 54, 'Equatorial Guinea': 55, 'Eritrea': 56, 'Estonia': 57, 'Ethiopia': 58, 'Fiji': 59, 'Finland': 60, 'France': 61, 'Gabon': 62, 'Gambia': 63, 'Georgia': 64, 'Germany': 65, 'Ghana': 66, 'Greece': 67, 'Grenada': 68, 'Guatemala': 69, 'Guinea': 70, 'Guinea-Bissau': 71, 'Guyana': 72, 'Haiti': 73, 'Honduras': 74, 'Hungary': 75, 'Iceland': 76, 'India': 77, 'Indonesia': 78, 'Iran (Islamic Republic of)': 79, 'Iraq': 80, 'Ireland': 81, 'Israel': 82, 'Italy': 83, 'Jamaica': 84, 'Japan': 85, 'Jordan': 86, 'Kazakhstan': 87, 'Kenya': 88, 'Kiribati': 89, 'Kuwait': 90, 'Kyrgyzstan': 91, \"Lao People's Democratic Republic\": 92, 'Latvia': 93, 'Lebanon': 94, 'Lesotho': 95, 'Liberia': 96, 'Libya': 97, 'Lithuania': 98, 'Luxembourg': 99, 'Madagascar': 100, 'Malawi': 101, 'Malaysia': 102, 'Maldives': 103, 'Mali': 104, 'Malta': 105, 'Marshall Islands': 106, 'Mauritania': 107, 'Mauritius': 108, 'Mexico': 109, 'Micronesia (Federated States of)': 110, 'Monaco': 111, 'Mongolia': 112, 'Montenegro': 113, 'Morocco': 114, 'Mozambique': 115, 'Myanmar': 116, 'Namibia': 117, 'Nauru': 118, 'Nepal': 119, 'Netherlands': 120, 'New Zealand': 121, 'Nicaragua': 122, 'Niger': 123, 'Nigeria': 124, 'Niue': 125, 'Norway': 126, 'Oman': 127, 'Pakistan': 128, 'Palau': 129, 'Panama': 130, 'Papua New Guinea': 131, 'Paraguay': 132, 'Peru': 133, 'Philippines': 134, 'Poland': 135, 'Portugal': 136, 'Qatar': 137, 'Republic of Korea': 138, 'Republic of Moldova': 139, 'Romania': 140, 'Russian Federation': 141, 'Rwanda': 142, 'Saint Kitts and Nevis': 143, 'Saint Lucia': 144, 'Saint Vincent and the Grenadines': 145, 'Samoa': 146, 'San Marino': 147, 'Sao Tome and Principe': 148, 'Saudi Arabia': 149, 'Senegal': 150, 'Serbia': 151, 'Seychelles': 152, 'Sierra Leone': 153, 'Singapore': 154, 'Slovakia': 155, 'Slovenia': 156, 'Solomon Islands': 157, 'Somalia': 158, 'South Africa': 159, 'South Sudan': 160, 'Spain': 161, 'Sri Lanka': 162, 'Sudan': 163, 'Suriname': 164, 'Swaziland': 165, 'Sweden': 166, 'Switzerland': 167, 'Syrian Arab Republic': 168, 'Tajikistan': 169, 'Thailand': 170, 'The former Yugoslav republic of Macedonia': 171, 'Timor-Leste': 172, 'Togo': 173, 'Tonga': 174, 'Trinidad and Tobago': 175, 'Tunisia': 176, 'Turkey': 177, 'Turkmenistan': 178, 'Tuvalu': 179, 'Uganda': 180, 'Ukraine': 181, 'United Arab Emirates': 182, 'United Kingdom of Great Britain and Northern Ireland': 183, 'United Republic of Tanzania': 184, 'United States of America': 185, 'Uruguay': 186, 'Uzbekistan': 187, 'Vanuatu': 188, 'Venezuela (Bolivarian Republic of)': 189, 'Viet Nam': 190, 'Yemen': 191, 'Zambia': 192, 'Zimbabwe': 193\n}\nvar country_int = country_val[country]\n\nstatus_val = {\n    'Developing':1, 'Developed':0\n}\nvar status_int = status_val[status_]\n\nvar token=msg.payload.access_token\nvar instance_id=\"afba5c95-38e7-4a1a-8166-584a6211a662\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n\nmsg.payload={\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"],\n             \"values\": [[country_int, year, status_int, am, id, alcohol, pe, hepatitisb, measles, bmi, ufd, polio, te, diphtheria, ha, gdp, population, thin_1, thin_5, income, schooling]]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":340,"wires":[["6c764c78.fd76d4"]]},{"id":"6c764c78.fd76d4","type":"http request","z":"71fcd6dd.a90f48","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/afba5c95-38e7-4a1a-8166-584a6211a662/deployments/0144a081-569c-46f8-8cbb-41f5dc596022/online","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":340,"wires":[["fa9a851a.825798","67579e0f.fe564"]]},{"id":"241a7881.7296c8","type":"ui_form","z":"71fcd6dd.a90f48","name":"","label":"Input Parameters","group":"51af8e98.661da","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Status","value":"status_","type":"text","required":true,"rows":null},{"label":"Adult Mortality Rate","value":"am","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hepatitisb","type":"number","required":true,"rows":null},{"label":"Measles","value":"measles","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under Five Deaths","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"diphtheria","type":"number","required":true,"rows":null},{"label":"HIV / AIDS","value":"ha","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"population","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 Years","value":"thin_1","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 Years","value":"thin_5","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"income","type":"number","required":true,"rows":null},{"label":"Schooling","value":"schooling","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","status_":"","am":"","id":"","alcohol":"","pe":"","hepatitisb":"","measles":"","bmi":"","ufd":"","polio":"","te":"","diphtheria":"","ha":"","gdp":"","population":"","thin_1":"","thin_5":"","income":"","schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":440,"wires":[["cc61554b.c517a8"]]},{"id":"44ff0019.e122b","type":"ui_text","z":"71fcd6dd.a90f48","group":"51af8e98.661da","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":220,"wires":[]},{"id":"67579e0f.fe564","type":"function","z":"71fcd6dd.a90f48","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":704.6000366210938,"y":187.60000610351562,"wires":[["5865cca3.8a2b14","44ff0019.e122b"]]},{"id":"fa9a851a.825798","type":"debug","z":"71fcd6dd.a90f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":420,"wires":[]},{"id":"f62739ca.982eb8","type":"debug","z":"71fcd6dd.a90f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":440,"wires":[]},{"id":"51af8e98.661da","type":"ui_group","z":"","name":"Default","tab":"70486dab.e8c704","order":1,"disp":true,"width":"6","collapse":false},{"id":"70486dab.e8c704","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]